doctype html
html
   head
      title="Hello Pug"
   body
      include ./header.pug
      
      h2 Pictures
      if (id)
         p ID imagen: #{id}. 
      if(tematica)
         p Temática:#{tematica}.
         
      include ./footer.pug 